.cali .headr {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.cali .info {
  display: flex;
  margin: 30px 0;
  align-items: center;
  font-weight: 500;
}

.cali .calend .calendar {
  height: unset;
}

.cali .calend {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 40px;
  margin: 50px 0;
}

.cali .tril {
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

.cali .apoint {
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid black;
  margin: 30px 0;
  justify-content: space-between;
  align-items: center;
}

.cali .apoint.smg {
  display: block;
}

.cali .apoint .ins {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.cali .apoint .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cali .apoint .img.hide {
  display: none;
}

.cali .apoint .date {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
}

.cali .apoint .top {
  width: 300px;
}

.cali .apoint .time {
  font-weight: 700;
  font-size: 30px;
}

.cali .form .item {
  display: flex;
  margin: 40px 0;
  position: relative;
}

.cali .form .duo {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}

.cali .form .duo .item {
  width: 45%;
  margin: 0;
}

.cali .form .item label {
  width: 150px;
  margin-right: 20px;
}

.cali .form .item select,
.cali .form .item input {
  width: calc(100% - 170px);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 40px;
  padding: 20px;
}

.cali .form .item select.error,
.cali .form .item input.error {
  background: white;
  color: black;
  border: 1px solid red;
  margin: 0;
}

.cali .form .item select {
  padding: 0 20px;
}

.cali .hr {
  height: 1px;
  background: black;
  margin: 85px -50px 20px;
}

.cali .btn-cover {
  display: flex;
  justify-content: end;
  margin: 20px 0 20px;
}

.cali .btn {
  background: #eb335a;
  padding: 12px 30px;
  color: white;
  border-radius: 100px;
  font-weight: 600;
}

.cali .perfo img {
  margin-bottom: 60px;
}

.cali .perfo .ana {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.cali .perfo .ana .item {
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 105px;
  justify-content: space-between;
  font-weight: 700;
}

.cali .perfo .ana .item .no {
  font-size: 25px;
  text-align: right;
}

.cali .perfo .ana .item .desc {
  font-size: 15px;
}

.cali .info.back img {
  width: 20px;
  transform: rotate(180deg);
  margin-right: 10px;
}

.cali .info.back {
  cursor: pointer;
}

.cali .apoint.diff {
  display: block;
}

.cali .apoint.diff .iner {
  display: flex;
  justify-content: space-between;
}

.cali .apoint.diff .img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.cali .apoint.diff .btn-group {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.cali .apoint.diff .btn-group .ad {
  background: #47bbec;
}

.cali .apoint.diff .btn-group .btn {
  margin: 0 7px;
}

.cali .times {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cali .times .mm {
  padding: 15px;
  background: #47bbec;
  color: black;
  font-weight: 500;
  border-radius: 15px;
  display: flex;
  margin: 10px 5px;
}

.cali .times .mm.full {
  color: #856404;
  background-color: #fff3cd;
}

.cali .times img {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.cali .err-alert {
  background-color: red;
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
}

.cali .err-alert {
  background-color: red;
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
}

@media (max-width: 1200px) {
  .cali .form .duo {
    flex-direction: column;
  }

  .cali .form .duo .item {
    width: 100%;
  }

  .cali .form .duo .item:nth-child(1) {
    margin: 0 0 40px;
  }

  .cali .perfo img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cali .apoint .time {
    font-size: 14px;
    min-width: 65px;
  }

  .cali .apoint {
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
  }

  .cali .apoint .deet {
    font-size: 13px;
  }

  .cali .apoint .date {
    margin-bottom: 5px;
    font-size: 13px;
  }

  .cali .calend {
    border-radius: 20px;
    padding: 10px 15px;
    margin: 35px 0;
  }

  .cali .apoint .top {
    margin-right: 10px;
  }

  .cali .form .duo .item:nth-child(1) {
    margin: 0 0 10px;
  }

  .cali .form .duo,
  .cali .form .item {
    margin: 10px 0;
  }

  .cali .form .item label {
    width: 100%;
  }

  .cali .form .item select,
  .cali .form .item input {
    width: 100%;
    border-radius: 10px;
  }

  .profile .info p.space {
    display: none;
  }

  .profile .info .new {
    margin: 0;
    font-size: 14px;
  }

  .cali .times .mm {
    font-size: 13px;
  }

  .cali .perfo .ana {
    flex-direction: column;
    margin: 20px 0;
  }

  .cali .perfo .ana .item {
    width: 100%;
    margin-bottom: 15px;
  }
}
