.xplor {
  display: flex;
  position: relative;
}

.close .ex-nav {
  left: -245px;
  position: absolute;
}

.ex-nav {
  height: 100vh;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
  border-right: 1px solid #000;
  position: sticky;
  width: 245px;
}

.xplor .main-tab {
  width: calc(100% - 245px);
  padding: 65px;
  min-height: 100vh;
  margin-bottom: 40px;
}

.xplor.close .main-tab {
  width: 100%;
  position: relative;
}

.ex-nav .bord {
  position: absolute;
  background-color: #232324;
  width: 50px;
  right: -50px;
  top: 25px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
  z-index: 1;
}

.ex-nav .bord img {
  transition: all ease 0.5s;
  height: 22px;
}

.ex-nav .bord img.rota {
  transform: rotate(180deg);
}

.ex-nav .title {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.ex-nav .item {
  justify-content: space-between;
  margin: 35px 0;
  align-items: center;
}

.ex-nav .t-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.ex-nav .t-nav svg {
  transition: all ease 0.5s;
}

.ex-nav .t-nav .rota {
  transform: rotate(180deg);
}

.ex-nav .filer.hide {
  display: none;
}

.ex-nav .filer.ra {
  margin-top: 20px;
}

.ex-nav .filer .rad {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.ex-nav .filer .rad label {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.ex-nav .inner {
  padding: 25px;
  overflow: scroll;
  height: 100vh;
}

.ex-nav .inner::-webkit-scrollbar {
  display: none;
}

.ex-nav .item svg {
  width: 23px;
}

.ex-nav .item span {
  font-weight: 500;
  font-size: 18px;
}

.ex-nav .item.cat {
  flex-direction: column;
  align-items: start;
}

.ex-nav .item .tags {
  display: flex;
  font-size: 14px;
  margin: 15px 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3px;
}

.xplor .iem {
  border-radius: 10px;
  background: #47bbec;
  margin: 5px 0;
  padding: 2px 10px;
  cursor: pointer;
}

.xplor .iem.active {
  color: #856404;
  background-color: #fff3cd;
}

.xplor .iem .tag-name {
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
}

.xplor .iem img {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.ex-nav .item input {
  border: 1px solid #000;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.ex-nav .item input[type="checkbox"] {
  width: unset;
}

.ex-nav .item.cat .input-cover {
  position: relative;
}

.ex-nav .item.cat .input-cover img {
  position: absolute;
  transform: rotate(135deg);
  width: 20px;
  top: 9px;
  cursor: pointer;
  right: 9px;
}

.main-tab .top {
  position: relative;
}

.main-tab .top .star {
  position: absolute;
  top: -25px;
  width: 245px;
}

.main-tab .top .star:nth-child(1) {
  left: 5%;
}

.main-tab .top .star:nth-child(2) {
  right: 5%;
}

.main-tab .top .title {
  font-size: 35px;
  text-align: center;
  margin: 20px 0 5px;
  font-weight: 500;
}

.main-tab .top .subtitle {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.main-tab .top .input-cov {
  margin: 40px 0 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-tab .top input {
  border-radius: 100px;
  border: 1px solid #000;
  padding: 10px 45px 10px 25px;
  height: 50px;
  width: 400px;
}

.main-tab .top .input-cov img {
  position: absolute;
  right: calc(50% - 180px);
  top: 16px;
  width: 18px;
}

.main-tab .sort {
  margin: 30px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-tab .sort label {
  font-size: 19px;
  font-weight: 500;
  margin-right: 18px;
}

.main-tab .sort select {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
}

.main-tab .res-tab {
  display: flex;
  flex-wrap: wrap;
}

.main-tab .res-tab .service-card {
  width: calc(33% - 10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-tab .res-tab .service-card img.ser {
  width: 100%;
}

.main-tab .res-tab .service-card .info-tab {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  min-height: 60px;
}

.main-tab .res-tab .service-card .service .line .price,
.main-tab .res-tab .service-card .info-tab .up .name {
  font-weight: 700;
  margin: 0;
}

.main-tab .res-tab .service-card .service .line span,
.main-tab .res-tab .service-card .info-tab .up .desc {
  font-weight: 500;
}

.main-tab .res-tab .service-card .service {
  margin: 30px 0;
}

.main-tab .res-tab .service-card .dist {
  margin: -10px 0 10px;
  font-weight: 600;
}

.main-tab .res-tab .service-card .service .line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.main-tab .res-tab .service-card .service .line.hide {
  display: none;
}

.main-tab .res-tab .service-card a {
  color: #eb335a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.ex-nav .inner .tiop {
  display: flex;
  justify-content: space-between;
}

.ex-nav img.refresh {
  width: 20px;
  cursor: pointer;
}

.main-tab .res-tab .service-card .info-tab .rev {
  width: 110px;
  display: flex;
  justify-content: end;
}

.main-tab .res-tab .service-card .info-tab .rev img {
  width: 25px;
}

@media (max-width: 960px) {
  .ex-nav {
    position: absolute;
    background: white;
    z-index: 10;
  }

  .xplor .main-tab {
    width: 100%;
  }

  .main-tab .top .star:nth-child(2) {
    right: 3%;
  }

  .main-tab .top .star:nth-child(1) {
    left: 3%;
  }

  .main-tab .top .star {
    top: 4px;
    width: 105px;
  }

  .main-tab .top .mob {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0 0;
    align-items: center;
  }

  .main-tab .top .mob .down {
    align-items: center;
    display: flex;
  }

  .main-tab .top .mob .down .filter:nth-child(2) {
    margin-left: 20px;
  }

  .main-tab .top .mob .down svg {
    width: 15px;
    margin-left: 10px;
    top: 2px;
    position: relative;
    transition: all ease 0.5s;
  }

  .main-tab .top .mob .tags-over {
    font-weight: 600;
  }

  .xplor .main-tab .top .mob .iem {
    margin: 0 10px;
  }

  .main-tab .top .mob .down svg.rota {
    transform: rotate(180deg);
  }

  .main-tab .mob select {
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    font-size: 12px;
    margin: 0 20px;
  }

  .ex-nav .bord,
  .main-tab .sort.bg {
    display: none;
  }

  .xplor .main-tab {
    padding: 0;
  }

  .main-tab .top {
    margin: 0;
    padding: 20px 20px 30px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
  }

  .res-tab {
    margin: 30px 30px 0;
  }

  .profile .res-tab {
    margin: 30px 0 0;
  }

  .profile .res-tab .service-card .info-tab {
    flex-direction: column;
  }

  .profile .res-tab .service-card .info-tab .up {
    margin-bottom: 10px;
  }

  .main-tab .top .title {
    font-size: 22px;
    margin: 7px 0 5px;
    font-weight: 500;
  }

  .main-tab .top .subtitle {
    font-size: 13px;
    font-weight: 500;
  }

  .main-tab .top .input-cov {
    max-width: 400px;
    margin: 20px auto 10px;
    width: 90%;
  }

  .main-tab .top input {
    padding: 3px 20px 3px;
    height: 35px;
    width: 90%;
    max-width: 400px;
  }

  .main-tab .top .input-cov img {
    right: 35px;
    top: 8px;
    width: 18px;
  }

  .main-tab .res-tab .service-card {
    width: calc(50% - 10px);
  }

  .main-tab .res-tab .service-card .info-tab .rev {
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .main-tab .top .star:nth-child(2) {
    right: 3%;
  }

  .main-tab .top .star:nth-child(1) {
    left: 3%;
  }

  .main-tab .top .star {
    position: absolute;
    top: 4px;
    width: 105px;
  }

  .main-tab .top .title {
    font-size: 21px;
  }

  .main-tab .top .subtitle {
    font-size: 12px;
  }

  .main-tab .top .mob {
    margin: 30px 0 0;
    font-size: 11px;
  }

  .main-tab .top .mob .down svg {
    width: 11px;
    margin-left: 5px;
    top: 4px;
  }

  .main-tab .top .mob .down .filter:nth-child(2) {
    margin-left: 12px;
  }

  .main-tab .top .mob .tags-over {
    width: calc(100% - 150px);
    overflow: scroll;
  }

  .main-tab .top .mob .tags-over::-webkit-scrollbar {
    display: none;
  }

  .main-tab .top .mob .tags-over .ins {
    width: max-content;
  }

  .main-tab .res-tab .service-card {
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    box-shadow: none;
    padding: 10px 30px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }

  .main-tab .res-tab .service-card:nth-last-child(1) {
    border: none;
  }

  .res-tab {
    margin: 30px 0 0;
  }

  .main-tab .res-tab .service-card img.ser {
    width: 45%;
  }

  .main-tab .res-tab .service-card .inf {
    width: 45%;
  }

  .main-tab .res-tab .service-card .info-tab {
    flex-direction: column;
  }

  .main-tab .res-tab .service-card .info-tab .rev {
    margin-top: 12px;
  }

  .main-tab .res-tab .service-card a {
    font-size: 13px;
  }

  .main-tab .res-tab .service-card .service .line {
    margin: 15px 0;
  }

  .ex-nav .title {
    font-size: 21px;
  }

  .ex-nav .item span {
    font-size: 13px;
  }

  .ex-nav .item svg {
    width: 13px;
  }

  .ex-nav .filer .rad label {
    font-size: 13px;
  }

  .xplor .iem .tag-name {
    font-size: 11px;
  }

  .ex-nav {
    position: fixed;
    top: 75px;
  }

  .close .ex-nav {
    position: fixed;
  }

  .main-tab .top .mob .tags-over.slii {
    width: calc(100% - 290px);
  }

  .profile .res-tab .service-card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .main-tab .top .star:nth-child(2) {
    right: 3%;
  }

  .main-tab .top .star:nth-child(1) {
    left: 3%;
  }

  .main-tab .top .star {
    top: 20px;
    width: 60px;
  }

  .profile .res-tab .service-card .info-tab {
    font-size: 13px;
  }

  .profile .res-tab .service-card {
    width: 100%;
  }

  .ex-nav {
    top: 60px;
  }
}

@media (max-width: 300px) {
  .ex-nav {
    width: 100%;
  }
}
