.profile .headr {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.profile .info {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.profile .info.nil {
  justify-content: unset;
}

.profile .info .img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d9d9d9;
  margin-right: 20px;
}

.profile .info .img input {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  position: relative;
}

.profile .info .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  top: -50px;
}

.profile .info .name {
  font-weight: 500;
  font-size: 18px;
}

.profile .form .item {
  display: flex;
  margin: 40px 0;
  position: relative;
}

.profile .form .item.hide {
  display: none;
}

.profile .form .item label {
  width: 150px;
  margin-right: 20px;
}

.profile .form .item select,
.profile .form .item textarea,
.profile .form .item input {
  width: calc(100% - 170px);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 40px;
  padding: 20px;
}

.profile .form .item select {
  padding: 0 20px;
}

.profile .form .item .tos,
.profile .form .item .input {
  width: calc(100% - 170px);
}

.profile .form .item .tos input {
  width: 100%;
}

.profile .form .item .tos .err {
  font-size: 15px;
  color: red;
  margin-bottom: 5px;
}

.profile .form .item .tos .err-inp {
  border: 1px solid red;
}

.profile .form .item .input .box {
  display: flex;
  align-items: center;
}

.profile .form .item .input .box input {
  width: 30px;
  margin-right: 10px;
}

.profile .form .item img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
}

.profile .form .item textarea {
  height: 140px;
}

.profile .hr {
  height: 1px;
  background: black;
  margin: 85px -50px 20px;
}

.profile .btn-cover {
  display: flex;
  justify-content: end;
  margin: 20px 0 20px;
}

.profile .btn {
  background: #eb335a;
  padding: 12px 30px;
  color: white;
  border-radius: 100px;
  font-weight: 600;
}

.profile .btn.acv {
  background: #fff;
  padding: 10px 30px;
  color: black;
  border: 1px solid black;
  margin-right: 10px;
}

.profile .info .new {
  border-radius: 30px;
  background: #47bbec;
  padding: 4px 15px;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}

.profile .info .new a {
  color: #000;
  text-decoration: none;
}

.profile .info .new input {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.profile .info.ser {
  justify-content: space-between;
}

.profile .info .new img {
  margin-left: 10px;
}

.profile .info.book p {
  font-weight: 500;
  width: 100%;
}

.profile .info p.space {
  width: calc(100% - 235px);
}

.profile .line {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 30px 0;
  font-weight: 500;
}

.profile .line .name {
  font-size: 18px;
}

.profile .line .btn-group {
  display: flex;
}

.profile .line .btn-group .btn {
  background: none;
  color: black;
  border: 1px solid black;
  padding: 4px 20px;
  font-size: 13px;
}

.profile.cali .line .btn-group .btn.rem,
.profile .line .btn-group .btn:nth-child(2) {
  margin-left: 15px;
  border: 1px solid #eb335a;
  background: #eb335a;
  color: white;
}

.profile .service {
  margin: 50px 0;
  min-height: calc(100vh - 300px);
}

.profile .sort {
  margin: 10px 0 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile .sort label {
  font-size: 17px;
  font-weight: 500;
  margin-right: 18px;
}

.profile .sort select {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  font-size: 12px;
}

.profile .review .item {
  margin: 30px 0;
  font-weight: 500;
  font-size: 18px;
}

.profile .review .item .top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile .review .item .top .icon {
  margin-right: 5px;
}

.profile .portfolio {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile .portfolio .img-cover {
  width: calc(33% - 10px);
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}

.profile .portfolio .img-cover img.main {
  width: 100%;
}

.profile .portfolio .img-cover img.pin {
  position: absolute;
  top: -15px;
  right: 0;
  opacity: 0;
  transition: all ease 0.5s;
}

.profile .portfolio .img-cover:hover img.pin {
  opacity: 0.5;
}

.profile .portfolio .img-cover img.pin.active,
.profile .portfolio .img-cover:hover img.pin.active {
  opacity: 1;
}

.profile .booking .subtitle {
  font-weight: 600;
  font-size: 17px;
  margin: 20px 0;
}

.profile .booking .tril {
  font-size: 17px;
  margin: 10px 0;
}

.profile .booking .policy {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 30px 0;
  cursor: pointer;
}

.profile .booking .policy .top {
  display: flex;
}

.profile .booking .policy .top .note {
  margin-right: 30px;
}

.profile .booking .policy .top .date {
  color: #646060;
}

.profile .booking .policy .arrow {
  transform: rotate(180deg);
  width: 20px;
}

.profile .booking .more {
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile .booking .more.hide {
  display: none;
}

.profile .booking .more img {
  transform: rotate(-90deg);
  width: 10px;
  margin-left: 15px;
}

.profile.cali p {
  width: calc(100% - 200px);
}

.profile .pop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .pop.hide {
  display: none;
}

.profile .pop .cancel {
  width: 100vw;
  position: absolute;
  height: 100vh;
}

.profile .pop .inner {
  width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.profile .pop .inner img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  cursor: pointer;
}

.profile .pop .inner .btn {
  text-align: center;
}

.res-tab {
  display: flex;
  flex-wrap: wrap;
}

.res-tab .service-card {
  width: calc(33% - 10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 5px 30px;
}

.res-tab .service-card img.ser {
  width: 100%;
}

.res-tab .service-card .info-tab {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.res-tab .service-card .service .line .price,
.res-tab .service-card .info-tab .up .name {
  font-weight: 700;
  margin: 0;
}

.res-tab .service-card .service .line span,
.res-tab .service-card .info-tab .up .desc {
  font-weight: 500;
}

.res-tab .service-card .address,
.res-tab .service-card .service {
  margin: 30px 0;
}

.res-tab .service-card .service {
  margin: 30px 0;
}

.res-tab .service-card .service .line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.res-tab .service-card .service .line.hide {
  display: none;
}

.res-tab .service-card a {
  color: #eb335a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.profile .form .tag .inner {
  border-radius: 10px;
  background: #47bbec;
  font-size: 14px;
  padding: 2px 10px;
  margin-right: 10px;
  width: unset;
}

.profile .form .tag {
  display: flex;
  width: 800px;
  margin: auto;
}

.profile .form .tag .inner img {
  position: relative;
  left: 2px;
  top: 2px;
  cursor: pointer;
  width: 13px;
}

@media (max-width: 960px) {
  .profile .pop .inner {
    width: 90%;
  }

  .profile .booking .policy {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cali .headr,
  .profile .headr {
    text-align: center;
    font-size: 18px;
  }

  .profile .info .name {
    font-size: 15px;
  }

  .profile .form .item {
    flex-direction: column;
    margin: 20px 0;
  }

  .profile .form .item label {
    width: 100%;
    margin: 0 0 10px;
    font-size: 12px;
  }

  .profile .form .item select,
  .profile .form .item textarea,
  .profile .form .item input {
    width: 100%;
    border-radius: 10px;
    font-size: 12px;
  }

  .profile .btn {
    padding: 9px 30px;
    font-size: 12px;
  }

  .profile .form .item img {
    top: 39px;
  }
}

@media (max-width: 480px) {
  .cali .hr,
  .profile .hr {
    margin: 85px -25px 20px;
  }

  .profile.cali p,
  .profile .info p.space {
    display: none;
  }

  .profile .info .new {
    margin: 0;
    font-size: 14px;
  }

  .profile .service {
    margin: 35px 0;
  }

  .profile .line {
    flex-direction: column;
    padding: 15px;
  }

  .profile .line .name {
    font-size: 13px;
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }

  .profile .line .btn-group .btn {
    font-size: 12px;
  }

  .profile .portfolio .img-cover {
    width: calc(50% - 10px);
  }

  .profile .booking .policy {
    padding: 20px;
    margin: 25px 0;
    font-size: 13px;
  }

  .profile .booking .policy .tab {
    margin-right: 15px;
  }

  .profile .booking .policy .arrow {
    width: 9px;
  }

  .profile .booking .policy .top .note {
    margin-right: 15px;
    width: 23px;
  }
}

@media (max-width: 400px) {
  .profile .btn-cover {
    flex-direction: column;
  }

  .profile .btn.acv {
    margin: 0 0 10px;
  }

  .profile .btn {
    text-align: center;
  }
}
