.show {
  padding: 65px 65px 0;
}

.show .err {
  background-color: red;
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
  margin: 30px 0;
}

.show .name {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 30px;
}

.show .top .img {
  width: 200px;
  margin: 0 auto;
}

.show .top .img img {
  width: 100%;
}

.show .top .info {
  display: flex;
  width: 80%;
  margin: 40px auto;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
}

.show .top svg {
  cursor: pointer;
}

.show .avail {
  border-radius: 100px;
  border: 1px solid #000;
  padding: 25px 50px;
}

.avail .heading {
  position: relative;
  font-size: 20px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.avail .heading span {
  cursor: pointer;
}

.avail .heading .cal {
  cursor: pointer;
  width: 20px;
  margin-left: 10px;
}

.avail .heading .cross {
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 25px;
}

.calendar {
  height: 700px;
  overflow: hidden;
  transition: all ease 0.5s;
  position: relative;
  margin-top: 30px;
}

.calendar.hide {
  height: 0px;
  margin: 0;
}

.calendar img {
  position: absolute;
  top: 15px;
  width: 10px;
  cursor: pointer;
}

.calendar img.right {
  right: 0;
  transform: rotate(180deg);
}

.calendar .inner {
  display: flex;
  justify-content: space-between;
}

.calendar .inner .month {
  width: calc(50% - 20px);
  min-width: 315px;
}

.calendar .inner .name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 20px;
}

.calendar .inner .day-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.calendar .inner .day-body {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}

.calendar .inner .day-header .dh,
.calendar .inner .day-body .dm {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .inner .day-header,
.calendar .inner .day-body {
  min-width: 315px;
}

.calendar .inner .day-body .dm {
  margin: 5px 0;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  transition: all ease 0.3s;
}

.calendar .inner .day-body .dm .cir {
  width: 5px;
  height: 5px;
  background-color: #eb335a;
  border-radius: 50%;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.calendar .inner .day-body .dm.green {
  opacity: 0.5;
  background: #9fed88;
}

.calendar .inner .day-body .dm.fade {
  color: #ccc;
  background: white;
  opacity: 1;
}

.calendar .inner .day-body .dm.active {
  color: #fff;
  background: #006ce4;
}

.calendar .inner .day-body .dm.activeDate,
.calendar .inner .day-body .dm:hover {
  color: #fff;
  background: #4f93e0;
  border-radius: 3px;
}

.calendar .inner .day-body .dm.fade:hover {
  color: #fff;
  background: #97a1ad;
  border-radius: 3px;
}

.calendar .times {
  display: flex;
  margin: 30px;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 250px;
}

.calendar .times .time {
  border-radius: 100px;
  background: #47bbec;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  margin: 30px;
  cursor: pointer;
  height: 60px;
}

.show .about {
  margin: 60px 0;
}

.popular .title,
.price .title,
.portfolio .title,
.about .title {
  font-size: 32px;
  font-weight: 500;
}

.about .text {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.text .more {
  margin-left: 20px;
  font-size: 14px;
  color: #eb335a;
  cursor: pointer;
}

.more svg {
  position: relative;
  top: 2px;
  width: 16px;
  margin-left: 5px;
  transition: all ease 0.5s;
}

.more svg.rota {
  transform: rotate(180deg);
}

.about .social,
.about .certs {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: 500;
  font-size: 15px;
}

.about .social .label,
.about .certs .label {
  margin-right: 10px;
}

.certs .item {
  border-radius: 100px;
  border: 1px solid #000;
  padding: 1px 8px;
  font-size: 10px;
  line-height: 14px;
  background: #ffbd59;
  margin: 0 5px;
}

.social img {
  margin: 0 5px;
}

.portfolio .img-group {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
}

.portfolio .img-group .img {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.portfolio .img-group .img.big {
  width: 30%;
  height: calc((100vw - 130px) * 0.3);
}

.portfolio .img-group .img.big img {
  width: 100%;
}

.portfolio .img-group .img.long,
.portfolio .img-group .duo {
  width: 20%;
  height: calc((100vw - 130px) * 0.3);
}

.portfolio .img-group .duo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio .img-group .duo .img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc((30vw - 70px) / 2);
}

.portfolio .img-group .duo .img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio .img-group .img.long img {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio .more {
  color: #ff3f56;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.portfolio .more span {
  margin-right: 6px;
}

.portfolio .more img {
  width: 12px;
}

.popular,
.price {
  margin: 60px 0;
}

.price .category {
  margin: 30px 0;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 20px 30px;
}

.category .head-line {
  display: flex;
  justify-content: space-between;
}

.category .head-line span {
  font-weight: 500;
}

.category .head-line .tag svg {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: all ease 0.5s;
  transform: rotate(180deg);
}

.category .head-line .tag {
  cursor: pointer;
}

.category .head-line .tag span {
  display: none;
}

.category.hide .head-line .tag span {
  display: inline-block;
}

.category.hide .head-line .tag svg {
  transform: rotate(0deg);
}

.category .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.category .item .name {
  font-size: 16px;
  margin: 0;
  width: calc(100% - 250px);
  text-align: left;
}

.category .item .book {
  border-radius: 30px;
  background: #eb335a;
  padding: 4px 15px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.category .inner {
  overflow: scroll;
  height: 212px;
  transition: all ease 0.5s;
}

.category.hide .inner {
  height: 0;
}

.category .inner::-webkit-scrollbar {
  display: none;
}

.popular .frame {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.frame .item {
  border: 1px solid black;
  border-radius: 20px;
  padding: 7px;
  width: calc(25% - 20px);
}

.frame .item img {
  width: 100%;
}

.frame .item .info {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.frame .item .info .desc {
  font-size: 20px;
  width: 100px;
}

.frame .item .info img {
  width: 25px;
  cursor: pointer;
  margin-right: 30px;
}

.faq {
  margin: 200px 0;
}

.faq .name {
  width: 650px;
  font-size: 45px;
  margin: 20px auto;
}

.faq .btn-group {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq .btn-group .btn {
  border-radius: 100px;
  background: #47bbec;
  text-align: center;
  width: 170px;
  height: 55px;
  display: flex;
  margin: 0 10px;
  padding: 4px 35px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.faq .btn-group .btn.canc {
  background: #eb335a;
  color: white;
}

.show .chat {
  width: 450px;
  text-align: center;
  margin-left: calc(100% - 450px);
}

.chat .head {
  font-weight: 700;
  font-size: 26px;
  border-radius: 15px 15px 0px 0px;
  background: #ffbd59;
  padding: 20px;
  cursor: pointer;
}

.chat .body {
  overflow: scroll;
  height: 500px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease 0.5s;
  position: relative;
}

.chat .body.hide {
  height: 0px;
}

.chat .body::-webkit-scrollbar {
  display: none;
}

.chat .body .inner {
  padding: 20px;
}

.chat .body .inner .ques {
  border-radius: 20px;
  background: #d9d9d9;
  width: 50%;
  font-size: 17px;
  padding: 20px;
  text-align: left;
  margin: 20px 0 20px calc(100% - 210px);
}

.chat .body .inner .ans {
  border-radius: 20px;
  border: 1px solid #000;
  width: 50%;
  font-size: 17px;
  padding: 20px;
  text-align: left;
  margin: 20px calc(100% - 210px) 20px 0;
}

.chat .body .inner .input {
  position: absolute;
  bottom: 20px;
  width: 410px;
}

.chat .body .inner .input input {
  border-radius: 20px;
  border: 1px solid #000;
  width: 100%;
  padding: 12px 20px;
}

.chat .body .inner .input img {
  position: absolute;
  right: 20px;
  width: 18px;
  bottom: 11px;
}

.show .portfolio-ex {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-ex img {
  width: calc(33% - 10px);
  margin: 10px 0;
}

.show .checkout,
.show .booking {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 12;
}

.show .checkout .pop,
.show .booking .pop {
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 80vw;
  height: 90vh;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.show .checkout .pop::-webkit-scrollbar,
.show .booking .pop::-webkit-scrollbar {
  display: none;
}

.checkout .pop .title,
.booking .pop .title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.booking .pop p {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.booking .pop .img-group {
  display: flex;
  justify-content: center;
}

.booking .pop .img-group .imag {
  width: 35%;
  margin: 0 20px;
}

.booking .pop .img-group .imag img {
  width: 100%;
}

.checkout .pop .cross,
.booking .pop .cross {
  position: absolute;
  right: 25px;
  width: 30px;
  top: 25px;
  cursor: pointer;
}

.show .checkout .inn,
.show .booking .inner {
  opacity: 0.5;
  background: #fff;
  filter: blur(250px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.show .checkout.hide,
.show .booking.hide {
  display: none;
}

.show .service {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show .service .main {
  max-width: 400px;
  margin: auto;
}

.show .service .title {
  margin: 30px 0 10px;
  font-size: 30px;
  font-weight: 500;
}

.show .service .tags {
  display: flex;
  margin: 0 0 20px;
}

.show .service .tags .item {
  border-radius: 10px;
  background: #47bbec;
  padding: 3px 10px;
  margin: 0 10px;
  font-size: 13px;
}

.show .service .tags .item .cross {
  position: relative;
  top: 2px;
}

.service .add-on {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.service .add-on .total {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.service .btn {
  border-radius: 100px;
  background: #eb335a;
  padding: 12px 35px;
  color: white;
  cursor: pointer;
}

.checkout .pop .title {
  font-size: 22px;
}

.show .checkout .pop {
  border-radius: 35px;
  position: relative;
}

.checkout .pop .star {
  position: absolute;
  left: 10%;
  width: 210px;
}

.checkout .pop .star:nth-child(3) {
  right: 10%;
  left: unset;
}

.checkout.pay .pop {
  text-align: center;
  font-weight: 500;
}

.checkout .pop .servi {
  font-size: 14px;
}

.checkout .pop .date {
  font-size: 14px;
  margin: 10px 0 0;
}

.checkout .pop .time {
  font-size: 14px;
  margin: 0 15px 20px;
}

.checkout .pop .back {
  font-size: 14px;
  color: #1b0cc8;
  text-decoration: underline;
  cursor: pointer;
}

.checkout .pop .total {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 30px;
}

.checkout .pop .choice {
  display: flex;
  justify-content: space-between;
}

.checkout .choice .line {
  width: 2px;
  background: black;
  height: 60px;
  position: relative;
  top: 60px;
}

.checkout .choice .item {
  width: calc(50% - 20px);
}

.checkout .choice .btn-cover {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.checkout .choice .btn-cover .btn {
  border-radius: 100px;
  background-color: #47bbec;
  cursor: pointer;
  padding: 14px 40px;
  color: black;
  text-decoration: none;
}

.checkout .choice .btn-cover .btn.guest {
  background-color: #ff3f56;
  color: #fff;
}

.checkout .choice .item .str {
  font-weight: 400;
  font-size: 21px;
  margin: 10px 0 30px;
}

.checkout .choice .item p {
  font-weight: 400;
  font-size: 15px;
  padding: 0 20px;
}

.checkout .choice .line.bee {
  top: 20px;
}

.checkout .or {
  margin-top: 20px;
}

.checkout .choice .btn-cover.ex-sm,
.ex-sm {
  display: none;
}

@media (max-width: 960px) {
  .show {
    padding: 30px;
  }

  .show .chat {
    display: none;
  }

  .faq .name {
    max-width: 100%;
  }

  .portfolio .img-group .duo .img {
    height: calc((30vw - 50px) / 2);
  }

  .calendar .inner .month {
    width: 100%;
    min-width: 315px;
  }

  .calendar .inner .month:nth-child(2) {
    display: none;
  }

  .guid.sm {
    display: none;
  }

  .show .checkout .pop {
    overflow: scroll;
  }

  .show .checkout .pop::-webkit-scrollbar {
    display: none;
  }

  .checkout .pop .cross,
  .booking .pop .cross {
    right: 20px;
    width: 20px;
    top: 20px;
  }

  .checkout .pop .star {
    position: absolute;
    left: 0%;
    width: 110px;
  }

  .checkout .pop .star:nth-child(3) {
    right: 0%;
    left: unset;
  }
}

@media (max-width: 600px) {
  .guid.sm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
  }

  .guid.sm .shadow {
    width: 33%;
    position: absolute;
    bottom: 0;
    height: 5px;
    border-radius: 10px;
    background: #eb335a;
    transition: all ease 0.5s;
    left: 0;
  }

  .guid.sm .shadow.ava {
    left: calc(50% - (33vw / 2));
  }

  .guid.sm .shadow.port {
    left: calc(100% - 33vw);
  }

  .guid.sm .list {
    width: 33%;
    text-align: center;
    font-size: 16px;
    color: #828282;
    text-decoration: none;
  }

  .show {
    padding: 30px 0;
  }

  .show .top {
    padding: 0 20px;
  }

  .show .name {
    font-size: 22px;
    margin: 10px 0;
  }

  .show .top .img img {
    border-radius: 20px;
  }

  .show .top .info {
    font-size: 11px;
    margin: 10px auto 20px;
    width: 100%;
  }

  .avail .heading,
  .show .about.hide,
  .show .faq.hide,
  .show .portfolio.hide,
  .show .price.hide,
  .show .popular.hide,
  .show .avail.hide {
    display: none;
  }

  .show .about,
  .show .portfolio,
  .show .price {
    margin: 30px 0;
    border-bottom: 1px solid black;
    padding: 0 30px 30px;
  }

  .show .popular {
    margin: 30px 0;
    padding: 0 30px 30px;
  }

  .popular .title,
  .price .title,
  .portfolio .title,
  .about .title {
    font-size: 21px;
  }

  .about .social,
  .about .certs,
  .about .text {
    font-size: 12px;
  }

  .text .more {
    font-size: 11px;
  }

  .guid.sm .list.active {
    color: #eb335a;
  }

  .social img {
    width: 17px;
  }

  .frame .item .info img {
    width: 17px;
    margin: 0;
  }

  .category .item .name,
  .price .category {
    font-size: 13px;
  }

  .category .head-line .tag svg {
    width: 12px;
    position: relative;
    top: 3px;
  }

  .popular .frame {
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .frame .item {
    width: calc(50% - 10px);
    margin: 10px 0;
  }

  .faq {
    margin: 30px;
  }

  .frame .item .info .desc {
    font-size: 13px;
    width: 100px;
  }

  .show .portfolio-ex {
    margin: 30px;
  }

  .show .avail {
    border-radius: 30px;
    padding: 25px;
    margin: 30px;
  }

  .calendar {
    margin: 0;
    height: unset;
  }

  .calendar .times .time {
    font-size: 13px;
    padding: 5px 25px;
    margin: 7px;
    height: 29px;
  }

  .calendar .times {
    min-height: unset;
    margin: 20px 0 10px;
  }

  .faq .btn-group .btn {
    font-size: 12px;
  }

  .faq .btn-group {
    margin: 35px 0;
  }

  .faq .btn-group .btn {
    height: 40px;
  }

  .show .service .main {
    max-width: unset;
    width: 90%;
  }

  .show .service {
    margin: 30px 0;
  }

  .show .service .title {
    font-size: 22px;
  }

  .service .add-on .total {
    font-size: 15px;
    margin: 10px 0;
  }

  .service .btn {
    font-size: 13px;
  }

  .checkout .pop .choice {
    flex-direction: column;
  }

  .checkout .or,
  .checkout .pop .choice.ex-bg,
  .checkout .choice .line {
    display: none;
  }

  .checkout .choice .item {
    width: 100%;
  }

  .checkout .choice .btn-cover.ex-sm,
  .ex-sm {
    display: block;
  }

  .checkout .choice .btn-cover {
    margin: 20px auto;
    width: unset;
  }

  .checkout .choice .btn-cover .btn {
    font-size: 13px;
  }

  .checkout .choice .ora {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }

  .checkout .choice .ora .rea {
    width: 45%;
    background: #000;
    height: 2px;
    display: block;
  }

  .checkout .pop .star {
    width: 62px;
  }

  .checkout .choice .item .str {
    font-size: 16px;
  }

  .checkout .choice .item p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .calendar .inner .month {
    min-width: unset;
  }

  .calendar .inner .day-header,
  .calendar .inner .day-body {
    width: 100%;
    min-width: unset;
    margin: 20px 0;
  }

  .calendar .inner .day-header .dh,
  .calendar .inner .day-body .dm {
    height: calc((100vw - 160px) / 7);
    width: calc((100vw - 160px) / 7);
    font-size: 12px;
  }

  .calendar .inner .day-header,
  .calendar .inner .day-body {
    margin: 10px 0;
  }

  .calendar .inner .name {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .faq .btn-group {
    flex-direction: column;
  }

  .faq .btn-group .btn {
    margin: 5px 0;
  }

  .frame .item .info .desc {
    margin-right: 5px;
  }

  .frame .item .info img {
    width: 12px;
  }

  .calendar .inner .day-header .dh,
  .calendar .inner .day-body .dm {
    height: calc((100vw - 130px) / 7);
    width: calc((100vw - 130px) / 7);
  }
}
